/* Колір лого #2196F3; #000000 */
/* Основний колір тексту #212121; */
/* Другорядний колір #757575; */
/* Колір акценту #2196F3 */
/* Кольори у футері
#ffffff
rgba(255, 255, 255, 0.6); */
/* Основний колір фона #ffffff */
/* "Футер і Хіро" колір фона #2F303A */
/* "Команда" колір фона #F5F4FA; */

/* Перемінні */
:root {
  --main-text-color: #212121;
  --logo-color: #000000;
  --accent-color: #2196f3;
  --secondary-color: #757575;
  --hero-footer-background: #2f303a;
  --footer-logo-color: #ffffff;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* Глобальні */
body {
  font-family: 'roboto', sans-serif;
  background-color: var(--footer-logo-color);
  color: var(--main-text-color);
}

.container {
  padding: 0 15px;
  margin: 0 auto;

  width: 1200px;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  overflow: hidden;
}

/* 1. Header stylization */
/* 1.1 site-nav */

.container.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #ececec;
}

.header-logo {
  display: inline-block;
  padding: 24px 0 25px;
  margin-right: 93px;

  color: var(--logo-color);

  font-family: 'raleway', sans-serif;
  font-size: 26px;
  line-height: 1.2;
}

.header-list .link {
  display: block;
  padding: 32px 0 32px;

  color: var(--main-text-color);

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.header-link:focus,
.header-link:hover {
  color: var(--accent-color);
}

.header-list {
  display: flex;
}

.header-list .item:not(:first-child) {
  margin-left: 50px;
}

.header-nav {
  display: flex;
  align-items: center;
}

.header-nav .link.current {
  color: #2196f3;
}

/* 1.2 contacts */

.contacts {
  display: flex;
  align-items: center;
}

.contacts .item:not(:first-child) {
  margin-left: 50px;
}

.mail,
.phone {
  display: inline-flex;
  padding: 32px 0 32px;
  align-items: center;
  color: var(--secondary-color);

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.icon-header-contact {
  margin-right: 10px;
  fill: currentColor;
}

.icon-header-contact:hover,
.icon-header-contact:focus {
  fill: #2196f3;
}

.contacts .link:hover,
.contacts .link:focus {
  color: var(--accent-color);
}

/* 2. Hero */
.hero {
  display: block;
  text-align: center;
  text-transform: uppercase;
  padding: 200px 15px;

  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;

  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../imeges/hero.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.section .hero-title {
  margin: 0 auto 30px;
  color: var(--footer-logo-color);

  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  width: 696px;
}

/* 2.1 Button for first page*/

.button {
  color: var(--footer-logo-color);
  background-color: var(--accent-color);
  padding: 10px 24px;

  font-family: inherit;
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  border-radius: 4px;
  border: 0;

  width: 216px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.button:hover,
.batton:focus {
  color: var(--accent-color);
  background-color: var(--footer-logo-color);
}

/* 3. Advantages */

.advantages {
  padding: 94px 0;
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
}

.advantages-item {
  width: calc((100% - 90px) / 4);
  margin-right: 30px;
}

.icon-advantages {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  height: 120px;
  border-radius: 4px;
  background-color: #f5f4fa;
}

.advantages-item:nth-child(4n) {
  margin-right: 0;
}

.advantages-item .section-title {
  margin-bottom: 10px;
}

/* 4. Work */

.thamb-work {
  position: relative;
}

.thamb-title {
  display: inline-block;
  position: absolute;
  bottom: 27px;
  right: 107px;

  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  background: rgba(47, 48, 58, 0.8);
}

/* колір для тексту у секціях і шрифти*/

.section.work {
  padding-bottom: 94px;
}

.list.work-list {
  display: flex;
}

.work-item {
  width: calc((100% - 60px) / 3);
}

.work-item:not(:last-child) {
  margin-right: 30px;
}

.list .section-title {
  font-size: 14px;
  line-height: 1.14;
}

.list .section-text {
  color: var(--secondary-color);
  font-size: 14px;
  line-height: 1.71;
}

.work .section-title,
.team .section-title,
.clients .section-title {
  margin-bottom: 50px;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}

/* 4. Team */
.team {
  padding: 94px 0;
  background-color: #f5f4fa;
}

.team-list .carts {
  background-color: var(--footer-logo-color);
  width: calc((100% - 90px) / 4);

  text-align: center;
}

.carts:not(:last-child) {
  margin-right: 30px;
}

.carts {
  margin-bottom: 30px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-list {
  display: flex;
}

.name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  margin-bottom: 10px;
}

.position {
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.19;
  color: var(--secondary-color);
}

.list-social .icon-social {
  display: block;
}

.list-social {
  display: flex;
  justify-content: center;
}

.icon-social {
  padding: 12px;
  fill: #afb1b8;
}

.icon-social:hover,
.icon-social:focus,
.icon-social:active {
  fill: #ffffff;
}

.link-social {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 44px;
  width: 44px;
  color: #afb1b8;
  border-radius: 50%;
  background-position: center;
  background-repeat: no-repeat;
}

.icon-social {
  fill: currentColor;
}

.link-social:hover,
.link-social:focus {
  color: #ffffff;
  background-color: #2196f3;
}

.item-social {
  margin-right: 10px;
}

.item-social:nth-child(4n) {
  margin-right: 0;
}

.team-container {
  padding: 30px 0;

  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

/* Постійні клієнти */

.clients {
  padding: 94px 0;
  text-align: center;
}

.clients-list {
  display: flex;
}

.clients-link {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-right: 30px;
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  color: #afb1b8;
}

.clients-item {
  display: block;
}

.clients-item:nth-child(6n) {
  margin-right: 0;
}

.link-icon {
  fill: currentColor;
}

.clients-link:hover,
.clients-link:focus {
  color: #2196f3;
  border-color: #2196f3;
}

/* 5. Footer */

.section.footer {
  padding: 60px 0;
}

.footer .container {
  display: flex;
  align-items: baseline;
}

.logo-address {
  margin-right: 70px;
}

.footer,
.footer-address,
.footer-contact {
  background-color: var(--hero-footer-background);
  font-size: 14px;
  line-height: 1.71;
  font-style: normal;
}

.footer-logo {
  display: inline-block;
  margin-bottom: 20px;

  color: var(--footer-logo-color);

  font-family: 'raleway', sans-serif;
  font-size: 26px;
  line-height: 31px;
}

.footer-address {
  color: var(--footer-logo-color);
}

.footer-contact {
  color: rgba(255, 255, 255, 0.6);
}

.footer-contact-list .item:not(:last-child) {
  margin-bottom: 9px;
}

.footer-address:hover,
.footer-address:focus,
.footer-contact:hover,
.footer-contact:focus {
  color: var(--accent-color);
}

.title-social {
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.footer-social {
  display: flex;
}

.social-networcs .link {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 44px;
  width: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
}

.footer-icon-social {
  fill: #ffffff;
}

.social-networcs .item:not(:last-child) {
  margin-right: 10px;
}

.social-networcs .link:hover,
.social-networcs .link:focus {
  background-color: var(--accent-color);
}

/* portfolio */
/* buttons for portfolio */

.buttons {
  display: flex;
  justify-content: center;
  padding: 94px 0 50px;
}

.btn {
  display: block;
  padding: 6px 22px;
  font-family: inherit;
  background-color: #f5f4fa;
  cursor: pointer;
  color: var(--main-text-color);
  font-size: 16px;
  line-height: 1.63;
  border: 0;
  border-radius: 4px;
}

.item-btn:not(:last-child) {
  margin-right: 8px;
}

.btn.current {
  background-color: var(--accent-color);
  color: var(--footer-logo-color);
}

.btn:hover,
.btn:focus {
  background-color: var(--accent-color);
  color: var(--footer-logo-color);
}

.btn:active {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* fonts in portfolio */

.list-examples {
  display: flex;
  padding-bottom: 94px;
  flex-wrap: wrap;
  justify-content: center;
}

.item-work {
  margin-right: 30px;
  margin-bottom: 30px;
  width: 370px;
}

.item-work:nth-child(3n) {
  margin-right: 0;
}

.item-work:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.item-work:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.mini-container {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
}

.section.examples .section-title {
  color: var(--main-text-color);
  font-size: 18px;
  line-height: 2;
}

.section.examples .section-text {
  font-size: 16px;
  line-height: 1.88;
}

.thamb-portfolio-img {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.thamb-portfolio-img::before {
  content: '';
  display: inline-block;
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgba(33, 150, 243, 0.9);

  opacity: 0;
}

.thamb-portfolio-img:hover::before,
.text-for-img:hover {
  opacity: 1;
}

.text-for-img {
  position: absolute;
  padding: 63px 24px;

  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;

  letter-spacing: 0.03em;

  color: #000000;
  opacity: 0;
}
